h1, h2 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.navbar {
  padding: 10px;
  margin-top: 15px;
}

.navbar #my_nav li {
  margin-left: 28px !important;
}

.header_content {
  background: url("../images/header.jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.header_content .over {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.header_content .header_text {
  position: absolute;
}

.header_content .header_text h1 {
  color: white;
  font-size: 53px;
  margin-left: 15%;
  line-height: 1.3;
  text-align: left;
  width: 59%;
  font-weight: 400;
}

.header_content .header_text h1 span {
  background-color: #ec1c23;
  padding: 1px 11px;
}

@media (max-width: 576px) {
  .header_content .header_text h1 {
    width: 100%;
    font-size: 38px;
    margin-left: 5px;
  }
}

.company {
  margin-top: 50px;
}

.company .row .service i {
  padding: 10px;
  background-color: #ec1c23;
  color: white;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.about_us {
  background-color: #f0f0f0;
  padding: 60px;
  margin-top: 50px;
}

.about_us .row .about_content h1 {
  font-size: 60px;
  margin-bottom: 12px;
  font-weight: 600;
}

.about_us .row .about_content h1::after {
  content: '';
  height: 3px;
  width: 75px;
  background-color: #ec1c23;
  display: block;
  margin: 20px auto;
}

.about_us .row .about_content p {
  line-height: 1.5;
  font-size: 21px;
  scroll-margin-bottom: 30px;
}

.about_us .row .about_content button {
  color: white;
  padding: 5px 23px;
  background-color: #ec1c23;
  border: none;
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .about_us .row h1 {
    font-size: 26px !important;
  }
  .about_us .row p {
    font-size: 13px !important;
  }
}

.our_cards {
  margin-top: 50px;
}

.our_cards .title_post h1 {
  font-size: 47px;
  margin-bottom: 12px;
  font-weight: 600;
}

.our_cards .title_post h1::after {
  content: '';
  height: 3px;
  width: 75px;
  background-color: #ec1c23;
  display: block;
  margin: 20px auto;
}

.our_cards .title_post p {
  font-size: 22px;
  margin: 20px 75px;
}

.our_cards .card_row {
  margin-bottom: 20px;
}

.our_cards .card_row .card_btn {
  color: #ec1c23;
  border: none;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 576px) {
  .our_cards h1 {
    font-size: 34px !important;
  }
  .our_cards p {
    font-size: 14px !important;
    margin: 0 !important;
    margin-bottom: 14px !important;
  }
}

.slide {
  margin-top: 50px;
}

.slide .slide_content #my_slide {
  height: 68vh;
  overflow: hidden;
}

.slide .slide_content #my_slide .car_left {
  height: 80px;
  width: 80px;
  top: 43%;
  margin-left: 20px;
  background-color: black;
  color: white;
}

.slide .slide_content #my_slide .car_right {
  height: 80px;
  width: 80px;
  top: 43%;
  margin-right: 20px;
  background-color: black;
  color: white;
}

.slide .slide_content #my_slide .car_left:hover,
.slide .slide_content #my_slide .car_right:hover {
  background-color: #ec1c23;
  color: white;
}

.slide .over {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.social_media {
  background-color: #f0f0f0;
  margin-top: 50px;
  padding: 30px;
}

.social_media .brand_social .apps {
  margin-bottom: 40px;
}

.social_media .brand_social .apps a {
  color: #a59f9f;
  margin-bottom: 30px;
}

.social_media .brand_social .apps a .fa-facebook-f:hover {
  color: #3b5998;
}

.social_media .brand_social .apps a .fa-instagram:hover {
  color: #c13584;
}

.social_media .brand_social .apps a .fa-youtube:hover {
  color: #ff0000;
}

.social_media .brand_social .apps a .fa-twitter:hover {
  color: #1da1f2;
}

.social_media .brand_social .apps a .fa-linkedin:hover {
  color: #0077b5;
}

.social_media .brand_social .apps a .fa-google-plus:hover {
  color: #dd4b39;
}

.agent {
  margin-top: 50px;
}

.agent .row .back {
  padding: 0;
}

.agent .row .back img {
  width: 100%;
  height: 360px;
}

.agent .row .back_text {
  background-color: #034C71;
  color: white;
  padding-top: 45px;
}

.agent .row .back_text .text {
  margin-left: 10px;
}

.agent .row .back_text .text button {
  background-color: #ec1c23;
  color: white;
  padding: 10px 20px;
  border: initial;
  border-radius: 7px;
}

@media (max-width: 576px) {
  .agent button {
    margin-bottom: 15px;
  }
}

.footer {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 576px) {
  .footer .col-md-12 {
    font-size: 13px;
    margin-top: -33px;
  }
}
/*# sourceMappingURL=style.css.map */